body {
  text-align: center;
  font-size: 1em;
  font-family: verdana;
  margin: 0;
}
h1 {
  font-size: 2rem;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  margin: 0 0 30px 0;
  color: #fff;
}
/* rows */
.row {
  text-align: center;
  display: flex;
  justify-content: center;
}
.row > div {
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  margin: 4px;
	color: white;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
}
.row > div.green {
	animation: flip 0.5s ease forwards;
  --background: #5ac85a;
  --border-color: #5ac85a;
}
.row > div.grey {
	animation: flip 0.5s ease forwards;
  --background: #a1a1a1;
  --border-color: #a1a1a1;
}
.row > div.yellow {
	animation: flip 0.5s ease forwards;
  --background: #e2cc68;
  --border-color: #e2cc68;
}

.row > div:nth-child(2) {
  animation-delay: 0.2s;
}
.row > div:nth-child(3) {
  animation-delay: 0.4s;
}
.row > div:nth-child(4) {
  animation-delay: 0.6s;
}
.row > div:nth-child(5) {
  animation-delay: 0.8s;
}

.row.current > div.filled {
	animation: pop 0.2s ease-in-out forwards;
}

.row > div.invalid {
	animation: invalid 0.6s ease-in-out forwards;
}

.keypad {
  max-width: 500px;
  margin: 20px auto;
}
.keypad > div {
  margin: 5px;
  width: 40px;
  height: 50px;
  background: #eee;
	color: #000;
  display: inline-block;
  border-radius: 6px;
  line-height: 50px;
}

.keypad > div.green {
  background: #5ac85a;
  color: #fff;
  transition: all 0.3s ease-in;
}
.keypad > div.yellow {
  background: #e2cc68;
  color: #fff;
  transition: all 0.3s ease-in;
}
.keypad > div.grey {
  background: #a1a1a1;
  color: #fff;
  transition: all 0.3s ease-in;
}

.modal {
  background: rgba(255,255,255,0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.modal div {
  max-width: 480px;
  background: #000;
  padding: 40px;
  border-radius: 10px;
  margin: 10% auto;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.modal .solution {
  color: #ff004c;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* animations */

@keyframes flip {
	0% {
		transform: rotateX(0);	
		background: #000;
		border-color: #fff;
	}
	
	45% {
		transform: rotateX(90deg);
		background: #000;
		border-color: #fff;
	}

	55% {
		transform: rotateX(90deg);
		background: var(--background);
		border-color: var(--border-color);
	}

	100% {
		transform: rotateX(0);
		background: var(--background);
		border-color: var(--border-color);
	}
}

@keyframes pop {
	0% {
		transform: scale(1);
		border-color: #ddd;
	}
	50% {
		transform: scale(1.2);
		border-color: #ddd;
	}
	100% {
		transform: scale(1);
		border-color: #fff;
	}
}

@keyframes invalid {
	0% {
		transform: scale(1);
		background: #000;
		border-color: #fff;
	}
	25% {
		transform: scale(1.15);
		background: #ff1744;
		border-color: #ff1744;
	}
	75% {
		transform: scale(1.15);
		background: #ff1744;
		border-color: #ff1744;
	}
	100% {
		transform: scale(1);
		background: #000;
		border-color: #fff;
	}
}
